body {
    font-family: 'Arima', cursive;
    margin: 0;
    text-align: center;
}

.top-container {
 background-color: rgb(217, 243, 250);
 padding-top: 100px;
 position: relative;
}

.cloud-one {
    position: absolute;
    margin: 25px  28% 0 12%;
}

h1 {
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 6rem;
    margin: 50px auto 0 auto;
}

h1, h2 {
    color: rgb(106, 208, 234);
}

h2 {
    font-size: 2.5rem;
}

h2, h3 {
    font-family: 'Rampart One', cursive;
}

h3 {
    color: #59b4c0;
}

p {
    margin-bottom: 0;
    padding-bottom: 30px;
}

.pro {
    text-decoration: underline;
}

.cloud-two {
    position: absolute;
    left: 22%;
    bottom: 42%;
}

.middle-container {

}

.skill {
    border-radius: 100%;
    height: auto;
    width: 300px;
}

.octopus {
    border-radius: 100%;
    height: auto;
    width: 200px;
}

.bottom-container {

}